#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div {
    padding: 20px;
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
